
<!-- <h4>Home Page for sign in or sign up</h4> -->

<h1>Hikers </h1>
<% @users.each do |user| %>
	<img class= "user_index_image" src=" <%= user.image %>">
	<a href="/users/<%= user.id %>"><%= user.first_name %> <%= user.last_name %> </a> <br>
<% end %>




