<h1>Users profile- Only a logged in person can see this</h1>
<h3>Things that will be on this page</h3>
<ul>
	<li>Profile Photo</li>
	<li>About you</li>
	<li>Hikes you've been on</li>
	<li>Upcoming Hikes</li>
	<li>Message Board</li>
</ul>

