<h1>Users profile- Only a logged in person can see this</h1>
<ul>
	<li>profile photo</li>
	<li>profile info: <br>
		- Name
		- Location
	</li>
	<li>Hikes History- link to indidividual hike pages</li>

</ul>