<h2>Users Show Page</h2>

<h3><%= @user.email %></h3>

<h3>Things that will be on this page</h3>
<ul>
	<li>Profile Photo</li>
	<li>About you</li>
	<li>Hikes you've been on</li>
	<li>Upcoming Hikes</li>
	<li>Message Board</li>
	<li>Add a hike</li>
</ul>