<h1>Hikes</h1>
<hr>

	<% @hikes.each do |hike| %>
	<h2><%= link_to hike.name, hike_path(hike.id) %></h2>
	<h2><%= hike.location %></h2>
	<!-- <p><%= hike.description%></p> -->
 
<hr>
<% end %>

  <div id="map" style='width: 800px; height: 400px;'>
  	
  </div>

  <div id= "sidebar_builder" style='width: 800px; height: 400px;'></div>
</div>
<div id='sidebar_container'> 
</div>
    



    