<h2>Add a Hike</h2>


<%= render :partial => 'form' %>


<form id="up-form">
  <input type="file" multiple /> <br>
  <button type="submit">Upload</button>
<!--   send upload data to hikes controller somehow -->
</form>